@import '../../../theme-variables.scss';

.about-wrapper {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;

  &__text {
    border-radius: 0;
    color: $white;
    background: $charcoal;
    letter-spacing: 0.5px;
    font-weight: 300;
    white-space: pre-wrap; 
  }

}