@import '../../../css/theme-variables.scss';

.blogContent {

  padding-top: 2rem;
  color: $white;
  min-height: 100vh;

  &__contentWrap {
    padding: 2rem 0 4rem 0;
    img {
      width: 100%;
      margin-bottom: 1rem;
    }

    span {
      font-weight: 300;
      color: $lightgray;
    }

    p {
      text-align: justify;
      white-space: pre-line;
      font-weight: 300;
    }
  }

}