@import '../../../css/theme-variables.scss';

.blogContent {

  padding: 3rem 0;
  color: $white;
  min-height: 100vh;

  &__contentWrap {
    padding: 1rem 0;
    img {
      width: 100%;
      margin-bottom: 1rem;
    }

    span {
      font-weight: 300;
      color: $lightgray;
    }

    p {
      text-align: justify;
      white-space: pre-line;
      font-weight: 300;
    }

    a {
      color: $lightyellow;
      background-color: transparent;
      border: 0;
      &:hover {
        color: $darkorange;
      }
    }
  }

}