@import '../../../css/theme-variables.scss';

.skills {

  margin-top: 1.5rem;
  padding-top: 1.5rem;
  min-height: 100vh;
  color: $white;

  &__wrapper {
    margin: 0 -1rem;
  }

  &__tile {
    padding: 0 1rem;

    &__skillwrap {
      text-align: left;
      margin: 1rem 0;
      border: 1px solid $darkgray;
      border-radius: 0.25rem;
      padding: 1rem;
      background: $darkgray2;
      color: $white;
      width: 100%;
      cursor: default;

      &:hover b, &:focus b {
        text-shadow: 1px 1px 3px #f00;
      }

      b {
        font-weight: 400;
        letter-spacing: 0.7px;
        margin: 0;
        font-size: 18px;
        display: block;
        line-height: 18px;
        margin-bottom: 0.5rem;
      }

      span {
        font-weight: 300;
        color: $lightgray;
      }
    }
  }

}