@import '../../../css/theme-variables.scss';

.blogPage {

  padding-top: 3rem;
  background-color: $charcoal;
  color: $white;
  min-height: 100vh;

  &__logo {
    img {
      width: 100%;
    }
  }

}