@import '../../../theme-variables.scss';

.blogPage {

  background-color: $charcoal;
  color: $white;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__logo {
    img {
      width: 100%;
    }
  }

}