@import '../../../css/theme-variables.scss';

.splash-wrapper {

  // border: 1px solid $black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;

  &__img-profile {
    -webkit-mask-image: url(/images/icons/mask-shape.png);
    mask-image: url(/images/icons/mask-shape.png);
    padding: 0;
    display: block;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    img {
      width: 100%;
    }
  }

  &__typing-text {
    visibility: visible;
    line-height: 1.5rem;
    height: 1.5rem;
    margin: 1rem 0;
  }

  h2 {
    font-weight: 400;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;

    li {
      display: inline-block;
      font-weight: 300;
      &:not(:last-of-type) {
        &:after {
          content: "\00a0|\00a0";
        }
      }

      a {
        color: $white;
        padding: 0.5rem 1rem;
        position: relative;
      }
    }
  }
  
  .down {
    color: $white;
    margin-top: 1rem;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }

  .secret {
    position: absolute;
    left: -1.5rem;
    top: 25%;
    border: 0;
    padding: 10px;
    color: $charcoal;
  }

}


@media (prefers-reduced-motion: no-preference) {}

@media (max-width: 500px) {

  .splash-wrapper {
    ul {
      li {
        a {
          padding: 0.2rem;
        }
      }
    }
  }

}