@import '../../../theme-variables.scss';

.splash-wrapper {
  // border: 1px solid $black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;

  .img-profile {
    
    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .typing-text {
    visibility: visible;
    line-height: 1.5rem;
    height: 1.5rem;
    margin: 1rem 0;
  }
}


@media (prefers-reduced-motion: no-preference) {
  
}