@import '../../css/theme-variables.scss';

.notFound {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 3rem);
  color: $white;

  span[role="img"] {
    font-size: 6rem;
  }

  h5 {
    font-weight: 300;
  }
}