@import '../../../css/theme-variables.scss';

.blogSection {

  margin-top: 2rem;
  padding-top: 2rem;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  color: $white;

  &__wrapper {
    margin: 0 -1rem;
  }

  &__tile {
    padding: 0;

    &__infowrap {
      margin: 1rem;
      border: 1px solid #666;
      border-radius: 0.25rem;
      padding: 1rem;
    }
  }

}