@import 'theme-variables.scss';

.App {
  background-color: $charcoal;
  font-size: 1rem;
  font-family: 'Roboto', 'Calibri', sans-serif;
}

.main-body {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.gutter-0 {
  padding-left: 0;
  padding-right: 0;
}

.text-white {
  color: $white;
}
.text-yellow {
  color: $lightyellow; 
}
.text-orange {
  color: $darkorange;
}
.text-blue {
  color: $skyblue;
}

.link {
  color: $white;
  background-color: transparent;
  border: 0;
  &:hover {
    color: $darkorange;
  }
}

.button {
  margin: 0.5rem;
  border: 0;
  padding: 0.5rem 2rem;
  font-weight: 600;
  color: $white;
  background-color: $darkgray;
  width: 33.3333%;

  &:hover {
    background-color: $darkorange;
  }
}

.errors {
  color: $errorText;
}

.success {
  color: $successText;
}

.shine {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    -webkit-transition: none;
      -moz-transition: none;
            transition: none;
  }
  &:hover {
    text-decoration: none;
    background: #393939;
    border-bottom: 1px solid $white;
    &:after {
      width: 100%;
      background-color: rgba(255,255,255,0);
      -webkit-transition: all 0.4s ease-in-out;
         -moz-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
    }
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}