// color definitions

$charcoal: #282c34;
$white: #ffffff;
$black: #000000;
$skyblue: #9cdcfe;
$lightyellow: #dcdcaa;
$darkorange: #ce9178;
$lightgray: #a1a1a1;
$darkgray: #6e6e6e;
$darkgray2: #333333;