@import '../../../css/theme-variables.scss';

.admin {

  min-height: 100vh;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 3rem 0;

  h2 {
    text-align: center;
  }

  .link-wrapper {
    margin: 1rem 0;
  }

  &__input-wrap {

    margin-top: 1.5rem;

    textarea {
      width: 100%;
    }
  }

  &__submit {
    margin-top: 2rem;
    border: 0;
    padding: 0.5rem 2rem;
    font-weight: 600;
    color: $white;
    background-color: $darkgray;
    width: 40%;

    &:hover {
      background-color: $darkorange;
    }
  }

  &__blogs {
    margin-top: 3rem;

    h4{
      margin-bottom: 1rem;
    }

    &__item {
      margin: 0.5rem 0;

      button {
        color: $white;
        background: transparent;
        border: 0;
        display: inline-block;
        text-decoration: underline;
        margin: 0 0.5rem;
        &:hover {
          color: $darkorange;
        }
      }

      .delete {
        text-decoration: none;
        &:after {
          content: '\00274C';
        }
      }
    }
  }

}